---
import type { HTMLAttributes } from 'astro/types'
import type { ThemeAndAuthor } from '../_types/index.ts'
import Avatar from './Avatar.astro'
import Badge from './Badge.astro'
import { useTranslations } from '~/locales/index.ts'

export type Props = HTMLAttributes<'div'> & {
  theme: ThemeAndAuthor
}

const { theme, class: className, ...attrs } = Astro.props

const t = useTranslations(Astro.url)

let netlifyUrl: URL | undefined
if (theme.repoUrl && typeof theme.stars !== 'undefined') {
  const repoRE =
    /https:\/\/github\.com\/(?<org>[^\/]+)\/(?<repo>[^\/]+)(?:\/tree\/(?<branch>[^\/]+)\/(?<subdirectory>.+))?/i
  const matches = theme.repoUrl.match(repoRE)
  if (matches?.groups) {
    netlifyUrl = new URL('https://app.netlify.com/start/deploy')
    netlifyUrl.searchParams.set(
      'repository',
      `https://github.com/${matches.groups.org}/${matches.groups.repo}`
    )
    if (matches.groups.subdirectory) {
      netlifyUrl.searchParams.set(
        'create_from_path',
        matches.groups.subdirectory
      )
    }
  }
}
---

<div class:list={['flex flex-col gap-4', className]} {...attrs}>
  <div class="flex items-center justify-between">
    <small class="code text-astro-gray-200">
      {t('templateDetail.label.cost')}
    </small>
    <Badge theme={theme.paid ? 'primary' : 'secondary'}>
      {
        theme.paid
          ? t('templateDetail.label.paid')
          : t('templateDetail.label.free')
      }
    </Badge>
  </div>
  <hr class="border-astro-gray-500" />
  <div class="flex items-center justify-between">
    <small class="code text-astro-gray-200"
      >{t('templateDetail.label.createdBy')}</small
    >
    <a href={theme.authorId.url} target="_blank" class="link">
      <Avatar theme={theme} />
    </a>
  </div>
  {
    netlifyUrl && !theme.paid && (
      <>
        <hr class="border-astro-gray-500" />
        <a
          href={netlifyUrl}
          class="link flex flex-row items-center gap-2"
          target="_blank"
          onclick="fathom.trackEvent('Theme Details - Deploy to Netlify');"
        >
          <img
            src="/assets/integrations/netlify-dark.svg"
            width="20"
            height="20"
            alt=""
          />
          Deploy to Netlify
        </a>
      </>
    )
  }
</div>
